<mat-card class="mat-elevation-z8 ct-margin-medium">
  @if (hasCharacterLoaded && selectedCharacter) {
    <mat-toolbar ngClass="{{getClassColor(selectedCharacter.classId)}}">
      <div>
        <h3>{{ selectedCharacter.name }} -
          {{ selectedCharacter.server }}
        </h3>
      </div>
    </mat-toolbar>
  }
  <mat-card-content>
    @if (!hasCharacterLoaded) {
      <div class="ct-center ct-flex-column">
        <mat-spinner color="primary" style="align-self: center"></mat-spinner>
      </div>
    } @else {
      <mat-list>
          <mat-accordion>
            @for (mount of mounts; track mount.name; let idx = $index) {
              <mat-expansion-panel (opened)="openItem(idx)"
                                   (closed)="closeItem(idx)">

                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <span>{{ mount.name }} ({{ mount.bossName }})</span>
                    <div>
                      @if (mount.collected) {
                        <mat-icon
                          title="{{selectedCharacter?.name}}-{{selectedCharacter?.server}} has not tried this mount this week">
                          done
                        </mat-icon>
                      }
                      @if (!mount.madeThisWeek) {
                        <mat-icon
                          title="{{selectedCharacter?.name}}-{{selectedCharacter?.server}} has not tried this mount this week">
                          timelapse
                        </mat-icon>
                      }
                    </div>
                  </mat-panel-title>
                  <mat-panel-description>
                    <span title="Next chance of drop">{{twoDecimals(mount.nextDropRate * 100)}}%</span>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                @if (panelState && panelState[idx]) {
                  <div>
                    <canvas id="{{getChartId(mount.name)}}" width="400px" height="400px"></canvas>
                    {{ startChart(idx, mount) }}
                  </div>
                }
              </mat-expansion-panel>
            }
          </mat-accordion>
      </mat-list>
    }
  </mat-card-content>
</mat-card>
