@use '@angular/material' as mat;

@import "../../styles.scss";
@import "../app.component.scss";

.rounded-chip {
  padding: 3px;
  border-radius: 5px;
}

.error-color {
  color: #B00020;
}

.warning-color {
  color: #F9A825;
}

.success-color {
  color: #2E7D32;
}

.error-background-color {
  background: mat.m2-get-color-from-palette(mat.$m2-pink-palette, 100);
}

.success-background-color {
  background: mat.m2-get-color-from-palette(mat.$m2-teal-palette, 100);
}

@media (prefers-color-scheme: dark) {
  .error-background-color {
    background: mat.m2-get-color-from-palette(mat.$m2-pink-palette, 900);
  }

  .success-background-color {
    background: mat.m2-get-color-from-palette(mat.$m2-teal-palette, 900);
  }
}
