<mat-card class="mat-elevation-z8 equipment-card">
  <mat-toolbar *ngIf="hasCharacterLoaded && selectedChar" ngClass="{{getClassColor(selectedChar.classId)}}">
    <div>
      <h3>{{selectedChar.name}} -
        {{selectedChar.server}}
      </h3>
    </div>
  </mat-toolbar>
  <mat-card-content>
    <mat-spinner color="primary" *ngIf="!hasCharacterLoaded"></mat-spinner>
    <table [hidden] ="!hasCharacterLoaded"
            mat-table
            [dataSource]="dataSource"
            matSort
    >
      <ng-container matColumnDef="isBestInSlot">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort BIS"
        >
          BIS
        </th>
        <td mat-cell *matCellDef="let element">
          <div>
            <mat-icon class="success-color" *ngIf="element.isBestInSlot">check</mat-icon>
            <mat-icon class="error-color" *ngIf="element.isBestInSlot != undefined && !element.isBestInSlot">close</mat-icon>
            <mat-icon class="warning-color" *ngIf="element.isBestInSlot == undefined">do_not_disturb_on</mat-icon>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="itemLevel">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort Item Level"> Ilvl</th>
        <td mat-cell *matCellDef="let element"><span class="rounded-chip" ngClass="{{getItemLevelColor(element.itemLevel)}}"> {{element.itemLevel}}</span></td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by name"
        >
          Name
        </th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td>
      </ng-container>

      <ng-container matColumnDef="slotName">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by slot name"
        >
          Slot
        </th>
        <td mat-cell *matCellDef="let element">{{element.slotName}}</td>
      </ng-container>
      <ng-container matColumnDef="bestInSlotName">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by BIS name"
        >
          Best In Slot
        </th>
        <td mat-cell *matCellDef="let element">{{element.bestInSlotName}}</td>
      </ng-container>
      <ng-container matColumnDef="bestInSlotInstance">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by BIS instance"
        >
          Instance
        </th>
        <td mat-cell *matCellDef="let element">{{element.bestInSlotInstance}}</td>
      </ng-container>
      <ng-container matColumnDef="bestInSlotBossName">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by BIS boss"
        >
          Boss
        </th>
        <td mat-cell *matCellDef="let element">{{element.bestInSlotBossName}}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns; let element" [ngClass]="row.isBestInSlot ? 'success-background-color' : row.isBestInSlot != undefined ? 'error-background-color' : ''"></tr>
    </table>
  </mat-card-content>
</mat-card>
