<div class="main-sidenav-container" [class.main-sidenav-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="main-sidenav-toolbar elevation-z6">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="main-sidenav-app-name"> {{title}}</h1>
    <button class="uk-align-right" mat-icon-button (click)="snav.toggle()">
      <mat-icon class=" no-padding no-margin">group</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container class="main-sidenav-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <expansion-list [expansion-items]="fillerNav"></expansion-list>
      </mat-sidenav>
    <mat-sidenav-content>
      <p *ngFor="let content of fillerContent">{{content}}</p>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

