/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

.ct-fill-height {
  height: 100% !important;
}

.ct-float-right {
  float: right;
}

.white-color {
  color: white !important;
}

.black-color {
  color: black !important;
}

.white-text p, .white-text span, .white-text h1, .white-text h2,
.white-text h3, .white-text h4, .white-text h5, .white-text h6, .white-text a {
  color: white !important;
}

.black-text p, .black-text span, .black-text h1, .black-text h2,
.black-text h3, .black-text h4, .black-text h5, .black-text h6, .black-text a {
  color: black !important;
}

.warrior-background-color {
  background-color: #C79C6E;
}

.paladin-background-color {
  background-color: #F58CBA;
}

.hunter-background-color {
  background-color: #ABD473;
}

.rogue-background-color {
  background-color: #FFF569;
}

.priest-background-color {
  background-color: #FFFFFF;
}

.death-knight-background-color {
  background-color: #C41F3B;
}

.shaman-background-color {
  background-color: #0070DE;
}

.mage-background-color {
  background-color: #40C7EB;
}

.warlock-background-color {
  background-color: #8787ED;
}

.monk-background-color {
  background-color: #00FF96;
}

.druid-background-color {
  background-color: #FF7D0A;
}

.demon-hunter-background-color {
  background-color: #A330C9;
}

.poor-background {
  background: #9d9d9d;
}

.common-background {
  background: #ffffff;
}

.uncommon-background {
  background: #1eff00;
}

.rare-background {
  background: #0070dd;
}

.epic-background {
  background: #a335ee;
}

.mythic-background {
  background: #a335ee;
}

.legendary-background {
  background: #ff8000;
}

.artifact-background {
  background: #e6cc80;
}

.heirloom-background {
  background: #00ccff;
}

.background-color-cyan-200{
  background: #80DEEA;
}

.background-color-teal-200{
  background: #80CBC4;
}

.background-color-red-900{
  background: #B71C1C;
}

.background-color-red-100{
  background: #FFCDD2;
}

.background-color-light-green-200{
  background: #C5E1A5;
}
