<mat-card class="mat-elevation-z8 ct-margin-medium">
  <mat-toolbar color="primary">
    <div>
      <h3>Bem vindo ao World of Warcraft Manager Tool!</h3>
    </div>
  </mat-toolbar>
  <mat-card-content style="padding: 1em;">
    <p>
      Para começar:
      <br>
      <br>
      1. Selecione a opção que deseja recuperar no painel esquerdo.
      <br>
      2. Escolha o personagem no painel direito (para visualizar as informações selecionadas no painel esquerdo).
    </p>
    <p>
      <span style="font-weight: bold;">Observação:</span> Se o seu personagem não estiver listado, você pode adicioná-lo
      clicando no botão "Adicionar Personagem".
    </p>
  </mat-card-content>
</mat-card>
