<mat-sidenav-container>
  @if (leftNavItems.length > 0) {
    <mat-sidenav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" [opened]="leftPanelOpened">
      <expansion-list [expansion-items]="leftNavItems"></expansion-list>
    </mat-sidenav>
  }
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
    <mat-sidenav [mode]="mobileQuery.matches ? 'over' : 'side'" position="end"
                 [fixedInViewport]="mobileQuery.matches" [opened]="rightPanelOpened">
      <expansion-list [expansion-items]="rightNavItems"></expansion-list>
      <div class="fab-container">
        <a mat-fab (click)="onAddNewCharacterClick()">
          <mat-icon>person_add</mat-icon>
        </a>
      </div>
    </mat-sidenav>
</mat-sidenav-container>
