<mat-sidenav-container class="ct-fill-height" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
  @if (leftNavItems.length > 0) {
    <mat-sidenav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" [opened]="leftPanelOpened">
      <expansion-list [expansion-items]="leftNavItems"></expansion-list>
    </mat-sidenav>
  }
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
  @if (rightNavItems.length > 0) {
    <mat-sidenav [mode]="mobileQuery.matches ? 'over' : 'side'" position="end"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" [opened]="rightPanelOpened">
      <expansion-list [expansion-items]="rightNavItems"></expansion-list>
    </mat-sidenav>
  }
</mat-sidenav-container>
